<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>darksearch</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='listjs/css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='listjs/css/style.css') }}">
    <link rel="shortcut icon" type="image/x-icon" href= "{{ url_for('static',filename='front/images/favicon.ico') }}">
  </head>
  <body>
    <div id="container">
  <div class="example-page">
    <div>
<h1>
      <form class="search" action="" method="post">
                <input class="search" name="search" placeholder="Search again" required/>
    </form>
      <a href='/'>
        <img class='main-logo' src="{{ url_for('static',filename='listjs/images/darksearch.png') }}">
        </img>
      </a>
    </h1>
    </div>
    <br><br>   
    <div id="main"> 
      <br>
      <h3>We found the following <b>{{length}}</b> results for <b>&quot;{{query}}&quot;</b> in <b>{{time}}</b> seconds...</h3> 
      <div class="c1">
        <div id="lovely-things-list">
          <ul class="list">
        <!-- COMMENT FOR AUTO LIST
            <li>
              <img src="{{ url_for('static',filename='listjs/images/icons/fb.png') }}" class="thumb" />
              <h4><span class="name">Facebook</span> <span class="category">Social Media</span></h4>
            <p class="description">Potential Facebook Links: {{facebook}} </p>
          </li>
          <li>
            <img src="{{ url_for('static',filename='listjs/images/icons/twitter.png') }}" class="thumb" />
            <h4><span class="name">Twitter</span> <span class="category">Social Media</span></h4>
          <p class="description">Potential Twitter Links {{twitter}}</p>
        </li>
        -->
      {{facebook}}
      {{twitter}}
      {{instagram}}
      {{gplus}}
      {{youtube}}
      {{linkedin}}
      {{github}}
      {{tor}}
    </ul>
    <!-- FILTERS START-->
    <ul class="sort-by">
      <li class="sort btn" data-sort="name">Sort by name</li>
      <li class="sort btn" data-sort="category">Sort by category</li>
    <!--
    </ul>
    <ul class="filter">
    -->
      <li class="btn" id="filter-none">Show all</li>
      <li class="btn" id="filter-social-media">Only show Social Media</li>
      <li class="btn" id="filter-dark-web">Only show Dark Web</li>
    </ul>
    <!-- FILTERS END -->
  </div>
</div>
</div>
</div> <!-- end of #container -->
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/list.js/1.0.0/list.min.js'></script>
    <script src="{{ url_for('static',filename='listjs/js/index.js') }}"></script>
    <p class="note"><b>Note</b>: Always use Tor at your own risk, we cannot guarantee the safety of any .onion link. <br>For more information, please visit <a href="https://www.torproject.org/">https://www.torproject.org </a></p>
  </body>
</html>
